fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
supabase
httpx
pandas
numpy
scikit-learn
xgboost
joblib
requests
python-multipart